:root{
    --shadow:hsl(0, 0%, 81%);
    --bg:hsl(210, 46%, 95%);

    --bg-box1: hsl(263, 55%, 52%);
    --bg-box2: hsl(217, 19%, 35%);
    --bg-box3: hsl(0, 0%, 100%);
    --bg-box4: hsl(219, 29%, 14%);
    --bg-box5: hsl(0, 0%, 100%);

    --h:hsl(300, 100%, 98%);
    --h-white-bg:hsl(225, 11%, 35%);
    --p: hsl(207, 4%, 60%);
    
}